.all-employees-page {
  padding: 2rem;
  height: 100%;
  position: relative;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-info h1 {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-color);
}
.con-filter {
  background: var(--bg-card);
  width: 100%;
  height: 100px;
  margin: 0px 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}
.con-filter input {
  width: 50%;
  height: 30px;
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-top: 15px;
}
.con-filter input::placeholder {
  font-size: 14px;
  color: var(--text-secondary);
}
.con2-filter {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.all-filt {
  width: 80%;
}
.con-filter button {
  width: 200px;
  height: 35px;
  padding: 0px 16px;
  font-size: 16px;
  background-color: rgb(19 131 237);
  color: #ffffff;
  border-radius: 8px;
  /* border: 1px solid var(--border-color); */
  border: none;
}
.con-filter button:hover {
  background-color: rgb(63, 147, 225);
}

.table-container {
  width: 100%;
  margin: 20px;
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: var(--bg-card);
  text-align: left;
}

th {
  font-size: 12px;
  font-weight: 600;
  padding: 15px;
  color: var(--text-color);
}

td {
  color: var(--text-secondary);
  padding: 15px;
  border-top: 1px solid var(--border-color);
  font-size: 14px;
}

.emp-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #d1d5db;
  background: red;
  background-image: url("../../../../assets/dd.jpg");
  background-size: cover;

  background-repeat: no-repeat;
}

.status {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
}

.status.active {
  background-color: #dcfce7;
  color: #15803d;
}

.status.leave {
  background-color: #fef9c3;
  color: #a16207;
}

.actions button {
  border-radius: 8px;
  margin: 0px 5px;
  border: var(--border-color);
  background-color: var(--bg-card);
}

.poop_create {
  width: 100%;
  top: 10%;
  height: 50%;
  background-color: var(--bg-page);
  position: absolute;
  margin: auto;
  border: 1px solid var(--border-color);
  border-radius: 24px;
  text-align: center;
  padding-top: 25px;
}
.poop_create h2 {
  margin-bottom: 20px;
}
.con_ptn1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.con_ptn1 button {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 12px;
  color: var(--text-color);
  background-color: var(--bg-card);
}
.con_ptn1 :last-child {
  color: red;
}
.con_ptn1 button:hover {
  background-color: rgb(147, 176, 233);
  font-size: 17px;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.4); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 55%;
  height: 80%;
}

.modal {
  position: absolute;
  background: var(--bg-page);
  padding: 30px;
  width: 100%;
  border-radius: var(--radius-xl);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-form input,
.modal-form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.modal-buttons button {
  border-radius: 12px;
  width: 90px;
  border: 1px solid var(--border-color);
}
.modal-buttons :last-child {
  background-color: rgb(19 131 237);
}
.modal-buttons button:hover {
  background-color: #949494;
}
.error {
  color: red;
  font-size: 12px;
}
