div.add-department {
    background-color: rgb(17 24 39 / 0.4);
    align-items: center;
    justify-content: center;
    height: 100vb;
    display: flex;
}

div.add-department div.add-department-co {
    border-radius: var(--radius-xl);
    background-color: var(--bg-page);
    border: 1px solid var(--border-color);
    width: 40%;
    height: 90vb;

    overflow: hidden;
}

div.add-department div.add-department-co div.add-department-title {
    border-bottom: 1px solid var(--border-color);
    padding: 7px 7px 12px 7px;
    font-weight: 700;
}

div.add-department div.add-department-co div.details-dep,
div.add-department div.add-department-co div.assign {
    border-bottom: 1px solid var(--border-color);
    width: 95%;
    margin: auto;
    padding: 10px 5px;
}

div.add-department div.add-department-co div.details-dep p.name,
div.add-department div.add-department-co div.details-dep p.head,
div.add-department div.add-department-co div.assign p.selectemp,
div.add-department div.add-department-co div.assign p.selectpos {
    font-size: 12px;
    margin-bottom: 5px;
}
div.add-department div.add-department-co div.assign div.select-emp-role{
     border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 20px 5px;
     
}
div.add-department div.add-department-co div.details-dep div.name-head,
div.add-department div.add-department-co div.assign div.select-emp-role {
    display: flex; 

    /* gap: 10px; */
   

}

div.add-department div.add-department-co div.details-dep div.name-head div,
div.add-department div.add-department-co div.assign div.select-emp-role div {
    width: 150%;
}

div.add-department div.add-department-co div.details-dep div.name-head div select,
div.add-department div.add-department-co div.details-dep div.name-head div input,
div.add-department div.add-department-co div.select-emp-role div.assign div select,
div.add-department div.add-department-co div.assign div.select-emp-role select {
    width: 90%;
    height: 6vb;
    padding: 5px;
    border-radius: 5px;

}
div.addemploy{
      border: 1px solid var(--border-color);
      border-radius: 5px;
      margin-top: 20px;
}
div.send-can-adddepartment{
 
    height: 11vb;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5px;
    gap: 10px;
}
div.send-can-adddepartment button{
    min-width: 100px;
}