div.add-department div.add-department-co {
    height: 97vb;
}

div.add-department div.add-department-co div.details-dep div.name-head div select,
div.add-department div.add-department-co div.details-dep div.name-head div input,
div.add-department div.add-department-co div.select-emp-role div.assign div select,
div.add-department div.add-department-co div.assign div.select-emp-role select {
    width: 90%;
    height: 6vb;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;

}

div.add-department div.add-department-co div.assign div.select-emp-role {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 20px 5px;

}

div.add-department div.add-department-co div.assign div.select-emp-role {
    border: none;
    border-radius: 5px;
    padding: 5px 5px;

}

div.add-department div.add-department-co div.assign div.select-emp-role input {
    width: 96%;
    border-radius: 5px;
    height: 35px;

}

div.add-department div.add-department-co div.assign textarea {
    width: 94%;
    max-height: 70px;
    min-height: 70px;
     outline: none;

}

div.add-department div.add-department-co div.assign div.skill,
div.add-department div.add-department-co div.assign div.role,
div.add-department div.add-department-co div.assign div.reporting {
    padding: 5px;
}
div.add-department div.add-department-co div.assign div.number input,
div.add-department div.add-department-co div.assign div.skill input,
div.add-department div.add-department-co div.assign div.role textarea,
div.add-department div.add-department-co div.assign div.reporting select{
    width: 96%;
    margin-top: -10px;
}

div.add-department div.add-department-co div.assign div.skill input,
div.add-department div.add-department-co div.assign div.reporting select{
    height: 35px;
    outline: none;
}
div.send-can-adddepartment{
 
    height: 11vb;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 3px;
    gap: 10px;
}
div.add-department div.add-department-co div.assign {
    border-bottom: none;
    width: 95%;
    margin: auto;
    padding: 10px 5px;
}
