@import '../PayrollOverview/PayrollOverview.css';
div.monthlypayrollco{
    background-color: white;
    /* margin-top: 35px; */
    border-radius: 10px;
    padding:10px 10px;
}
div.searchFilterco{
    display: flex;
    gap: 10px;
}

input.Searchemployee,select.AllDepartments,select.dateselect{
border-radius: 8px;
padding: 8px;
min-width: 20%;
outline: none;
border: 1px solid var(--border-color);
}
div.tablesalary{
    margin-top: 20px;
    /* border: 1px solid var(--border-color); */
    
}
div.tablesalary table thead{
        background-color: rgb(226, 223, 223);
}
div.tablesalary table thead th,div.tablesalary table tbody td{
    color: var(--text-color);
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}
div.salaryinfocard div.infocard{
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.041);
    display: none;
}
div.infocardsalary{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 3px;

}
header.monthly div.sm-theme-toggle-wrapper{
    top:20px
}
button.moredetails{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: rgb(20, 116, 133);
}
div.details{
    background-color: #b6b5b575;
    position: fixed;
    display: none;
    overflow: hidden;
    z-index: 990;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}
div.newdetails{
  border: 2px solid var(--border-color);
    border-radius: 10px;
     background-color: var(--bg-card);
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: start;

    justify-content: space-between;
    margin: 5% auto;
    padding: 10px;
    overflow: scroll;
}
div.newdetails button{
    border:none;
    color: gray;
    background-color: transparent;
    font-size: 25px;
}
@media(max-width:1023px){
    header.monthly{
        margin-top: 25px;
    }
}
@media(max-width:950px){
   div.newdetails{
    width: 60%;
    
}
}
@media (max-width:850px){
    div.details{
        display: none !important;
    }
 
    body{
        overflow: auto !important;
    }
    .mobile-toggle{
        z-index: 10 !important;
    }
    div.searchFilter input{
    width: 100%;
}
    div.searchFilterco{
    flex-direction: column;
    max-width: 50%;
}
    div.tablesalary{
        display: none;
    }
    div.salaryinfocard div.infocard{
  
    display: block;
}
 
}
@media (max-width:600px){
    div.searchFilter input{
    width: 100%;
}

   div.searchFilterco{
    flex-direction: column;
    max-width: 100%;
}}