.charts-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.card {
  height: 400px;
  flex: 2;
  /* min-width: 450px; */
  min-height: 0px;
  background-color: var(--bg-card);
  padding: 20px;
  border-radius: 12px;
}
.donut {
  flex: 1;
  /* min-width: 300px; */
  min-width: 0px;
  position: relative;
}
.custom-legend {
  margin-top: 10px;
}
.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  font-size: 14px;
  margin: 6px 0;
  color: var(--text-secondary);
}
.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.center-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
}
.page-title h2 {
  margin: 25px 0px;
  font-size: 36px;
  color: var(--text-main);
  font-weight: bold;
  letter-spacing: -1px;
}
.page-container {
  width: 95%;
  width: 95%;
  margin: auto;
}
.container-subcard {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.container-subcard .subcart1 {
  width: 23%;
  height: 130px;
  border-radius: 12px;
  color: var(--text-secondary);
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  padding-top: 15px;
}

.subcart1 h6 {
  font-size: 14px;
  margin: 0px 20px;
}
.subcart1 h2 {
  margin: 0px 20px;
  color: var(--text-main);
  margin-top: 10px;
}
.table-card {
  color: var(--text-main);
  margin-top: 30px;

  background-color: var(--bg-card);
  border-radius: 12px;
  padding: 20px;
  overflow-x: auto;
}

.department-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.department-table thead {
  background-color: var(--bg-card);
  color: var(--text-main);
  text-align: left;
}

.department-table th {
  padding: 14px;
  font-weight: 600;
  font-size: 19px;
  color: var(--text-main);
}

.department-table td {
  padding: 14px;
  border-top: 1px solid var(--border-color);
  color: var(--text-secondary);
}

.department-table tbody tr:hover {
  background-color: #f9fafb;
  background-color: var(--bg-card);
  transition: 0.2s;
}

@media (max-width: 768px) {
  .container-subcard {
    flex-direction: column;
  }

  .container-subcard .subcart1 {
    width: 100%;
  }

  .charts-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .card,
  .donut {
    width: 100%;
    min-width: 0;
    display: flex;
    height: 320px;
  }
  .center-text {
    font-size: 18px;
    top: 45%;
  }

  .page-title h2 {
    font-size: 26px;
  }

  .department-table th {
    font-size: 14px;
  }

  .department-table td {
    font-size: 13px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container-subcard {
    flex-wrap: wrap;
  }

  .container-subcard .subcart1 {
    width: 48%;
  }

  .charts-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .card,
  .donut {
    width: 100%;
    height: 350px;
  }

  .page-title h2 {
    font-size: 30px;
  }
}
