.charts-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  height: 400px;
  flex: 2;
  /* min-width: 450px; */
  min-height: 0px;
  background-color: var(--bg-card);
  padding: 20px;
  border-radius: 12px;
}

.card h6,
.center-text {
  color: var(--text-secondary);
}

.donut {
  flex: 1;
  /* min-width: 300px; */
  min-width: 0px;
  position: relative;
}

.custom-legend {
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  font-size: 14px;
  margin: 6px 0;
  color: var(--text-secondary);
}

.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.center-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
}

.page-title h2 {
  margin: 25px 0px;
  font-size: 36px;
  color: var(--text-main);
  font-weight: bold;
  letter-spacing: -1px;
}

.page-container {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto;
}

.container-subcard {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.container-subcard .subcart1 {
  flex: 1;
  min-width: 200px;
  height: auto;
  min-height: 130px;
  border-radius: 12px;
  color: var(--text-secondary);
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .container-subcard .subcart1 {
    width: 100%;
    min-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-subcard .subcart1 {
    width: 48%;
    min-width: calc(50% - 0.75rem);
  }
}

.subcart1 h6 {
  font-size: 14px;
  margin: 0px 20px;
}

.subcart1 h2 {
  margin: 0px 20px;
  color: var(--text-main);
  margin-top: 10px;
}

.table-card {
  color: var(--text-main);
  margin-top: 30px;

  background-color: var(--bg-card);
  border-radius: 12px;
  padding: 20px;
  overflow-x: auto;
}

.department-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.department-table thead {
  background-color: var(--bg-card);
  color: var(--text-main);
  text-align: start;
}

.department-table th {
  padding: 14px;
  font-weight: 600;
  font-size: 19px;
  color: var(--text-main);
}

.department-table td {
  padding: 14px;
  border-top: 1px solid var(--border-color);
  color: var(--text-secondary);
}

.department-table tbody tr:hover {
  background-color: #f9fafb;
  background-color: var(--bg-card);
  transition: 0.2s;
}

@media (max-width: 768px) {
  .page-container {
    padding: 1rem;
  }

  .page-title h2 {
    font-size: 24px;
    margin: 15px 0;
  }

  .charts-wrapper {
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }

  .card {
    width: 100%;
    height: 350px;
    flex: none;
  }
}

@media (min-width: 768px) {
  .page-container {
    padding: 2rem;
  }
}